@import 'layouts.scss';

@theme {
    --color-cream: #F5EAD8;
    --color-cream-light: #FFF8F0;
    --color-coffee: #8B6F5B;
    --color-coffee-dark: #6B4F3F;
    --color-coffee-light: #C9AF9A;
    --color-brown: #4A3B32;
    --font-brand: "Playfair Display", serif;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}